<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Stand</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>activityType</string>
			<key>Key</key>
			<string>activityType</string>
			<key>Titles</key>
			<array>
				<string>other</string>
				<string>automotiveNavigation</string>
				<string>fitness</string>
				<string>otherNavigation</string>
			</array>
			<key>Values</key>
			<array>
				<string>other</string>
				<string>automotiveNavigation</string>
				<string>fitness</string>
				<string>otherNavigation</string>
			</array>
			<key>DefaultValue</key>
			<string>other</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>distanceFilter</string>
			<key>Key</key>
			<string>distanceFilter</string>
			<key>DefaultValue</key>
			<string>-1</string>
			<key>Titles</key>
			<array>
				<string>-1</string>
				<string>0.1</string>
				<string>1</string>
				<string>10</string>
				<string>100</string>
				<string>1000</string>
			</array>
			<key>Values</key>
			<array>
				<string>-1</string>
				<string>0.1</string>
				<string>1</string>
				<string>10</string>
				<string>100</string>
				<string>1000</string>
			</array>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>bestForNavigation</string>
				<string>best</string>
				<string>nearestTenMeters</string>
				<string>hundredMeters</string>
				<string>kilometer</string>
				<string>threeKilometers</string>
			</array>
			<key>Values</key>
			<array>
				<string>bestForNavigation</string>
				<string>best</string>
				<string>nearestTenMeters</string>
				<string>hundredMeters</string>
				<string>kilometer</string>
				<string>threeKilometers</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>desiredAccuracy</string>
			<key>Key</key>
			<string>desiredAccuracy</string>
			<key>DefaultValue</key>
			<string>best</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>pauses Automatically</string>
			<key>Key</key>
			<string>pausesLocationUpdatesAutomatically</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>allows Background</string>
			<key>Key</key>
			<string>allowsBackgroundLocationUpdates</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Monitoring</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>significantLocationChanges</string>
			<key>Key</key>
			<string>significantLocationChanges</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>region</string>
			<key>Key</key>
			<string>region</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
